*{
    background-color: aqua; 
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;}

.container {
background-color: #ffffff;
}
.dpImage {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 10px;
}
.bio 

#bio{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgreen;
}

#villageQuote{
    background-color: mediumslateblue;
    background-size: contain; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-stretch: extra-condensed;}

.fruits{
    float: left;
    background-color:rgb(248, 245, 245);
    width:77%;
    padding:10px;
    border:5px solid black; 
    height: auto;}

.citrus{
    float:left;
    background-color:rgb(15, 15, 14);}

.mangifera{
    float:right;
    text-decoration-style: wavy;
    background-color:orange;}

.projects {
    float: left;
}
